<mat-drawer-container class="container-sidenav" autosize>
  <!--ICON-->
  <div class="tab-sidenav" (click)="drawer.toggle()">
    <ul class="tabrow">
      <li>
        <app-tab-icon></app-tab-icon>
      </li>
    </ul>   
  </div>

  <mat-drawer #drawer class="sidenav-contentainer" mode="side" position="end">
    <!--HEADER-->
    <app-sidevar-header [headerContent]='fakeHeader'></app-sidevar-header>
    
    <!--CONTENT-->
    <app-sidenav-content [sidenavContent]='fakeContentData'></app-sidenav-content>
  </mat-drawer>



</mat-drawer-container>
