.container-sidenav {
  min-width: 100%;
  height: 100vh;
  position: relative;
  border-right: solid 5px #0d8390;
  /* border: solid 2px red; */
  overflow-x: hidden;
}

.tab-sidenav {
  display: flex;
  align-items: right;
  justify-content: right;
  position: absolute;
  /* left: 95%; */
  width: 15px;
  height: 72px;
  right: 0px;
  top: calc(10% - 72px / 2);
  /* border: solid 1px blue; */
}

.tabrow {
  text-align: right;
  list-style: right;
  margin: 0;
  padding: 0;
  line-height: 24px;
  position: relative;
  width: auto;
  /* border: solid 1px rgb(45, 224, 75); */
}

.tabrow li {
  margin: 0 10px;
  padding: 0 10px;
  border: solid 1px #0d8390;
  background: #0d8390;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-right: 0;
  position: relative;
  z-index: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  height: 30px;
  width: 15px;
  /* border: solid 1px rgb(188, 45, 224); */
}

/* .tabrow li svg {  
  height: 20px;  
} */
.tabrow:after {
  position: absolute;
  content: "";
  z-index: 1;
}

.tabrow:before {
  z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
  position: absolute;
  bottom: -0.3px;
  width: 6px;
  height: 10px;
  content: " ";
}

.tabrow li:before {
  left: 30px;
  top: -10px;
  border-bottom-right-radius: 8px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #0d8390;
}

.tabrow li:after {
  left: 30px;
  top: 30px;
  border-bottom-left-radius: 8px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #0d8390;
  transform: rotate(180deg);
}

.tabrow li:before,
.tabrow li:after {
  border: 0 1px 0 1px solid #0d8390;
}

.sidenav-contentainer {
  width: 300px;
  padding: 20px;
  border-left: 2px solid #0d8390;
  margin-left: 10px;
}
